
@font-face {
    font-family: "Orbitron_regular";
    src: url("../assets/fonts/Orbitron/Orbitron-Regular.ttf");
}
@font-face {
    font-family: "Incosolata_regular";
    src: url("../assets/fonts/Incosolata/static/Inconsolata-Regular.ttf");
}
@font-face {
    font-family: "Montserrat_medium";
    src: url("../assets/fonts/Montserrat/static/Montserrat-Medium.ttf");
}
@font-face {
    font-family: "Roboto_Mono_regular";
    src: url("../assets/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
}

#contacts {
    place-items: center;
    padding-top: 50px;
    display: grid;
}
#contacts h1 {
    font-family: "Orbitron_regular";
    font-size: clamp(20px, 6vw, 50px);
    color: #38d1ef;
    letter-spacing: 2px; 
}
#contacts h2 {
    font-family: "Montserrat_medium";
}
.contacts_contents {
    width: 80%;
    /* border: 1px solid white; */
}
.contacts_contents p {
    font-family: "Roboto_Mono_regular";
    /* color: #EEEEEE; */
    color: #D8D9DA;
}
@media (max-width: 900px) {
    .contacts_contents {
        width: 90%;
    }
}
@media (max-width: 400px) {
    .contacts_contents {
        width: 100%;
    }
}


.grid-container_forContacts {
    display: grid;
    grid-template-columns: auto auto;

    gap: 10px; /* Space between grid items */
}
.grid-item_forContacts {
    padding: 10px;
    /* border: 1px solid white; */
}
@media (max-width: 700px) {
    .grid-container_forContacts {
        grid-template-columns: auto;
        grid-template-rows: auto; 
    }
}

.contacts_contents small {
    font-family: "Incosolata_regular";
    margin: 0 10px 0 10px;
}