
@font-face {
    font-family: "Orbitron_regular";
    src: url("../assets/fonts/Orbitron/Orbitron-Regular.ttf");
}

#skills {
    place-items: center;
    padding-top: 50px;
    display: grid;
}
#skills h1 {
    font-family: "Orbitron_regular";
    font-size: clamp(20px, 6vw, 50px);
    color: #38d1ef;
    letter-spacing: 2px; 
}
.skills_contents {
    width: 80%;
    /* border: 1px solid white; */
}
@media (max-width: 800px) {
    .skills_contents {
        width: 90%;
    }
}
@media (max-width: 500px) {
    .skills_contents {
        width: 100%;
    }
}


.grid_container_skills {
    display: grid;
    /* justify-content: space-evenly; */
    grid-template-columns: auto auto auto auto auto auto;
    gap: 5px;
}
.grid_item_skills {
    text-align: center;
    padding-bottom: 20px;
    color: white;
}

.skill-items i {
    font-size: 70px;
}
.skill-items img { /* svg */
    height: 70px;
}
.skills_label {
    margin-top: 10px;
}
@media only screen and (max-width: 995px) {
    .grid_container_skills {
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
    }
}
@media only screen and (max-width: 600px) {
    .grid_container_skills {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
    }
}
@media only screen and (max-width: 430px) {
    .grid_container_skills {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }
}